<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeComment">
	<select id="getList" parameterType="cafeCommentDto" resultType="cafeCommentDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, writer, content, target_id, ref_group,
					comment_group, deleted, board_cafe_comment.regdate, profile
				FROM board_cafe_comment
				INNER JOIN users
				ON board_cafe_comment.writer=users.id
				WHERE ref_group=#{ref_group}
				ORDER BY comment_group DESC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
</mapper>